asgiref==3.7.2
Django==5.0.1
django-debug-toolbar==4.3.0
django-recurrence==1.11.1
django-versatileimagefield==3.1
pillow==10.2.0
python-dateutil==2.8.2
python-magic==0.4.27
six==1.16.0
sqlparse==0.4.4
