{% extends "plants/base.html" %}
{% load static %}

{% block header_status %}
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="{% url 'bed_list' %}" class="nav-link px-2 text-secondary">Beds</a></li>
        <li><a href="{% url 'plant_list' %}" class="nav-link px-2 text-white">Plants</a></li>
        <li><a href="{% url 'task_list' %}" class="nav-link px-2 text-white">Tasks</a></li>
        <li><a href="{% url 'journalentry_list' %}" class="nav-link px-2 text-white">Journal</a></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row row-cols-4 row-cols-md-4">
            {% for bed in bed_list %}
                <div class="col gx-3 gy-3">
                    <div class="card h-100">
                        <a href="{% url 'bed_detail' bed.bed %}"><img style="width: 100%"
                            {% if bed.bed == 0 %}
                                src="{% static 'plants/seed_starts.jpg' %}"
                            {% elif bed.is_raised %}
                                src="{% static 'plants/raised_bed.jpg' %}"
                            {% else %}
                                src="{% static 'plants/trad_bed.jpg' %}"
                            {% endif %}
                            class="card-img-top" alt="blah"></a>
                        <div class="card-body">
                            {% if bed.bed == 0 %}
                                <h5 class="card-title text-center">{{ bed.get_bed_display }}</h5>
                            {% else %}
                                <h5 class="card-title text-center">Bed {{ bed.get_bed_display }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}