{% extends "plants/base.html" %}
{% load static %}

{% block page_title %} Bed Information {% endblock %}

{% block content %}

    <div id="container">
        <h1 class="text-center">
            {% if num == "0" %}
                Starts
            {% else %}
                Bed {{ num }} {% if is_raised %} (raised) {% else %} (not raised) {% endif %}
            {% endif %}
        </h1>
        {% if plantings.count > 0 %}

            <table id="bed-table" class="table table-sm table-hover table-dark tablesorter">
                <thead>
                <tr>
                    <th>Count</th>
                    <th>Plant</th>
                    <th>Variety</th>
                    <th>Date Started</th>
                    <th>Date Planted</th>
                    <th>Date Harvested</th>
                    <th>Thumbnail</th>
                </tr>
                </thead>
                <tbody>
                {% for planting in plantings %}
                    <tr>
                        <td>{{ planting.count }}</td>
                        <td>{{ planting.plant.name }}</td>
                        <td><a href="{% url 'plant_detail' planting.plant.pk %}">{{ planting.plant.variety }}</a></td>
                        <td>{{ planting.start_dt }}</td>
                        <td>{{ planting.plant_dt }}</td>
                        <td>{{ planting.harvest_dt }}</td>
                        <td><img src="{{ planting.plant.image.thumbnail.100x100 }}"
                                 alt="thumbnail image of {{ planting.plant.name }}"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nothing currently planted in this bed</p>
        {% endif %}
    </div>

    {# Table sorting jQuery plugin #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"
            integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script>
        $(function () {
            $('#bed-table').tablesorter({"cssIcon": "tablesorter-icon"});
        });
    </script>

{% endblock %}