{% extends "plants/base.html" %}
{% load static %}

{% block content %}

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for bed in bed_list %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <a href="">
                                <img class="card-img-top" width="100%" height="225" alt="blah"
                                     src="{% static "plants/beds.jpg" %}"></a>
                            <div class="card-body">
                                <h5 class="card-title">Bed {{ bed.bed }}</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}