{% extends "plants/base.html" %}
{% load static %}

{% block content %}

    {#    <div class="album py-5 bg-body-tertiary">#}
    {#        <div class="container">#}
    {#            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">#}
    {#                {% for bed in bed_list %}#}
    {#                    <div class="col">#}
    {#                        <div class="card shadow-sm">#}
    {#                            <a href="{% url 'bed_detail' bed.bed %}">#}
    {#                                <img class="card-img-top" width="100%" height="225" alt="Picture of traditional and#}
    {#                                raised beds layed ut in a garden" src="{% static "plants/beds.jpg" %}"></a>#}
    {#                            <div class="card-body">#}
    {#                                <h5 class="card-title">Bed {{ bed.bed }}</h5>#}
    {#                                <div class="d-flex justify-content-between align-items-center">#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div class="container">
        <div class="row border">
            <div class="col-9 border">
                Bed 9
                <div class="row border">
                    <div class="col-3"></div>
                    <div class="col-3 border">Bed 5</div>
                    <div class="col-3 border">Bed 6</div>
                    <div class="col-3 border">Bed 7</div>
                </div>
                <div class="row border">
                    <div class="col-3"></div>
                    <div class="col-3 border">Bed 2</div>
                    <div class="col-3 border">Bed 3</div>
                    <div class="col-3 border">Bed 4</div>
                </div>
                <div class="row border">
                    <div class="col-12 border">Bed 1</div>
                </div>
            </div>
            <div class="col-3 border">
                Bed 8
            </div>
        </div>
    </div>

{% endblock %}