{% extends 'plants/base.html' %}
{% load static %}

{% block page_title %} Task Calendar {% endblock %}

{% block content %}

    <script lang='javascript'>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                allDay: true,
                events: '/all_events/',
                eventColor: 'rgb(0,255,0)',
                eventTextColor: 'rgb(0,0,0)',
                headerToolbar: {start: 'title', center: '', end: 'today,prev,next'},
                buttonText: {today: 'Today'},
                dateClick: function (info) {
                    alert('Date ' + info.date + ' was clicked')
                }
            });
            calendar.render();
        });
    </script>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        {#        <div class='col-1 px-3 py-3'>#}
        {#            <a href='{% url 'add_task' %}'>Add Task</a>#}
        {#        </div>#}
        <div class='col-11 px-3 py-3'>
            <div id='calendar'></div>
        </div>
    </div>

{% endblock %}
