{% extends 'plants/base.html' %}
{% load static %}

{% block page_title %} Task Calendar {% endblock %}

{% block content %}

    <script lang='javascript'>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                allDay: true,
                editable: true,
                eventLimit: true,
                events: '/all_events/',
                eventColor: 'rgb(0,255,0)',
                eventTextColor: 'rgb(0,0,0)',
                headerToolbar: {start: 'title', center: '', end: 'today,prev,next'},
                buttonText: {today: 'Today'}
            });
            calendar.render();
        });
    </script>

    <div class='row'>
        <div class='col-10 px-3 py-3'>
            <div id='calendar'></div>
        </div>
        <div class='col-2 px-3 py-3'>
            <a href="{% url 'task_add' %}" class="btn btn-primary" role="button">Add Task</a>
        </div>
    </div>

    </div>

{% endblock %}
