{% extends "plants/base.html" %}
{% load static %}

{% block page_title %} Gardener {% endblock %}

{% block content %}

    <div class="album py-5 ">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
                {% for view in views %}
                    <div class="col">
                        <div class="card">
                            <h2 class="card-header text-center">{{ view.title }}</h2>
                            {# TODO: Fix this bletcherous hack #}
                            {% if view.title|lower == "beds" %}
                                <a href="{% url 'bed_list' %}"><img class="card-img-top px-2 py-2" width="100%" height="225" alt="clipart image of a raised bed" src="{% static 'plants/raised_bed.jpg' %}"></a>
                            {% elif view.title|lower == "plants" %}
                                <a href="{% url 'plant_list' %}"><img class="card-img-top px-2 py-2" width="100%" height="225" alt="clipart image of various vegetables" src="{% static 'plants/vegetables.jpg' %}"></a>
                            {% elif view.title|lower == "calendar" %}
                                <a href="{% url 'calendar' %}"><img class="card-img-top px-2 py-2" width="100%" height="225" alt="clipart image of gardening tools" src="{% static 'plants/tasks.jpg' %}"></a>
                            {% elif view.title|lower == "journal" %}
                                <a href="{% url 'journalnote_list' %}"><img class="card-img-top px-2 py-2" width="100%" height="225" alt="clipart image of a gardening journal" src="{% static 'plants/journal.jpg' %}"></a>
                            {% endif %}
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}