{% extends 'plants/base.html' %}
{% load static %}

{% block page_title %} Journal Notes {% endblock %}

{% block content %}

    <div class="container">
        <ul class="list-group">
            {% for note in journalnote_list %}
                <li class="list-group-item list-group-item-primary"><a href="{% url 'journalentry_detail' note.pk %}">{{ note.date | date:"Y-m-d" }}</a></li>
            {% empty %}
                <li class="list-group-item list-group-item-warning">No journal entries have been created, yet.</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}