<h1>{{ plant.name }}</h1>

<ul>
    <li>{{ plant.name }} {{ plant.variety }}</li>
    <li>{{ plant.source }}</li>
    <li>{{ plant.link }}</li>
    <li>{{ plant.image }}</li>
    <li>{{ plant.min_germ_days }}</li>
    <li>{{ plant.max_germ_days }}</li>
    <li>{{ plant.min_maturity_days }}</li>
    <li>{{ plant.max_maturity_days }}</li>
    <li>{{ plant.first_start_dt }}</li>
    <li>{{ plant.last_start_dt }}</li>
    <li>{{ plant.first_plant_dt }}</li>
    <li>{{ plant.last_plant_dt }}</li>
    <li>{{ plant.date_added }}</li>
    <li>{{ plant.last_updated }}</li>
</ul>

<div id="footer">
    <p><a href="{% url 'plant_list' %}">Plant list</a></p>
</div>
