{% extends 'plants/base.html' %}
{% load static %}

{% block header_status %}
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="{% url 'bed_list' %}" class="nav-link px-2 text-white">Beds</a></li>
        <li><a href="{% url 'plant_list' %}" class="nav-link px-2 text-secondary">Plants</a></li>
        <li><a href="{% url 'task_list' %}" class="nav-link px-2 text-white">Tasks</a></li>
        <li><a href="{% url 'journal_note_list' %}" class="nav-link px-2 text-white">Journal</a></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row row-cols-4 row-cols-md-6">
            {% for plant in plant_list %}
                <div class="col gx-3 gy-3">
                    <div class="card h-100">
                        <a href="{% url 'plant_detail' plant.id %}">
                            <img style="width: 100%" src="{{ MEDIA_URL }}{{ plant.image }}" class="card-img-top"
                                 alt="blah"></a>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ plant.name }}</h5>
                            <h6 class="card-subtitle text-center">{{ plant.variety }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}