{% extends 'plants/base.html' %}

{% block content %}

    <div class="container">
        <h1 class="text-center">{{ task.name }}</h1>
        <ul>
            <li>Note: {{ task.note }}</li>
            {% if task.is_recurring %}
                <li>Start: {{ task.start_recur }}</li>
                <li>End: {{ task.end_recur }}</li>
                <li>Days of week: {{ task.days_of_week }}
            {% else %}
                <li>Start: {{ task.start }}</li>
                <li>End: {{ task.end }}</li>
            {% endif %}
        </ul>
    </div>

{% endblock %}