{% extends 'plants/base.html' %}
{% load static %}

{% block navheader %}
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-2 text-primary">Home</a></li>
        <li><a href="{% url 'bed_list' %}" class="nav-link px-2 text-primary">Beds</a></li>
        <li><a href="{% url 'plant_list' %}" class="nav-link px-2 text-primary">Plants</a></li>
        <li><a href="{% url 'task_list' %}" class="nav-link px-2 text-secondary">Calendar</a></li>
        <li><a href="{% url 'journal_note_list' %}" class="nav-link px-2 text-primary">Journal</a></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>Calendar</h1>
                <ul class="list-group">
                    {% for task in task_list %}
                        <li class="list-group-item list-group-item-primary"><a href="{% url 'task_detail' task.pk %}">{{ task.name }}</a></li>
                    {% empty %}
                        <li class="list-group-item list-group-item-warning">No tasks have been created, yet.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-10">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

{% endblock %}